.custom-input input {
  width: 340px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  border: 1px solid rgba(2, 102, 193, 0.1);
  padding: 22px 30px 21px;
  outline: none;
  cursor: text;

  @include vp-1199 {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding: 16px 15px 14px 14px;
  }

  &::placeholder {
    color: rgba($color-elephant, 0.5);
  }

  @include hover {
    border: 1px solid $color-navy-blue;

    &::placeholder {
      color: $color-navy-blue;
    }
  }

  &:focus {
    border: 1px solid $color-navy-blue;

    &::placeholder {
      color: transparent;
    }
  }

  &:focus-visible {
    border: 1px solid $color-navy-blue;

    &::placeholder {
      color: transparent;
    }
  }

  &:active {
    border: 1px solid $color-resolution-blue;

    &::placeholder {
      color: transparent;
    }
  }

  @include disabled {
    pointer-events: none;

    &::placeholder {
      color: rgba(2, 102, 193, 0.1);
    }
  }
}

.custom-input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include vp-1199 {
    width: 100%;
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: $color-torch-red;

    opacity: 0;

    transition: opacity 0.3s ease;
  }

  &.is-invalid {
    input {
      border: 1px solid $color-torch-red;

      &:focus,
      &:hover {
        border: 1px solid rgba($color-torch-red, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 1px solid #22b259;

      &:focus,
      &:hover {
        border: 1px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    &.is-invalid {
      color: $color-torch-red;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
