.header__list {
  @include vp-1199 {
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.header__list--nojs {
  @include vp-1199 {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.page-header__container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;

  @include vp-1199 {
    align-items: center;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 7px;
  }
}

.page-header__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 4;

  @include vp-1199 {
    display: flex;
    justify-content: space-between;
    width: 65%;
    align-items: center;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.page-header--no-js {
  @include vp-1199 {
    padding: 0;
    background-color: $color-default-white;
    align-items: start;
  }
}

.page-header--no-js .page-header__container {
  @include vp-1199 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @include vp-767 {
    grid-template-columns: min-content 1fr;
  }
}

.page-header--no-js .page-header__logo {
  color: $color-default-white;

  @include vp-1199 {
    color: $color-elephant;
    grid-column: 2;
    margin: 0 auto;
    margin-top: 4px;
  }

  @include vp-767 {
    grid-column: 3;
    margin-top: 6px;
    margin-right: 1px;
  }
}

.page-header--no-js .page-header__phone {
  color: $color-default-white;

  @include vp-1199 {
    color: $color-elephant;
    grid-column: 3;
    margin-left: 100px;
    order: 2;
  }

  @include vp-767 {
    margin: 0;
  }
}

.page-header--no-js .nav__list {
  @include vp-1199 {
    padding-top: 40px;
    order: 2;
  }

  @include vp-767 {
    padding-top: 15px;
    padding-left: 0;
  }
}

.page-header--no-js .page-header__nav {
  @include vp-1199 {
    grid-column: 1;
    grid-column-end: 4;
    grid-column-start: 1;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
